<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="andy.bond">
    <meta name="application-name" content="andy.bond">
    <meta name="msapplication-TileColor" content="#15273d">
    <meta name="theme-color" content="#0d1b2a">

    <title>{{title}}</title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}

    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>

    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css"/>
    {% endif %}

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/static/js/theme.js"></script>
  </head>
  <body>
    {% include "./partials/navbar.html" %}
    <main>
      {{ content | safe }}
    </main>
    {% include "./partials/footer.html" %}

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}
  </body>
</html>
