---
layout: default
eleventyComputed:
  opengraphImageUrl: "{{ metadata.api.screenshot }}/{{ metadata.url | urlencode }}%2Fopengraph{{ page.url | urlencode }}/opengraph"
---

{# Relations #}
{% set category = categories.posts | pick(category) %}

<div class="blogpost flex flex-col px-1 gap-2">
  <div class="breadcrumbs px-1 py-0.5 flex flex-row wrap align-items-center gap-1">
    <a href="/" class="flex flex-row align-items-center gap-0.5">
      {% icon 'home' %}
    </a>
    <div>/</div>
    <a href="/posts">Posts</a>
    <div>/</div>
    <div>{{title}}</div>
  </div>

  {% if draft %}
    <div class="alert-card card flex flex-row align-items-center wrap">
      {% icon 'alert-triangle' %}
      <strong class="ml-1">DRAFT</strong>
      <span class="mx-0.5">&mdash;</span>
      This post is a work in progress!
    </div>
  {% endif %}

  <article class="flex flex-col gap-2">
    <div class="flex flex-col gap-1">
      <h1>{{title}}</h1>
      <p class="subtitle">{{description}}</p>
    </div>
    <div class="blogpost-content flex flex-col gap-1">
      {{content | safe}}
    </div>
  </article>
</div>
