---
layout: default
---

{# Relations #}
{% set category = categories.reviews | pick(category) %}

<div class="review flex flex-col px-1">
  <div class="breadcrumbs px-1 py-0.5 flex flex-row wrap align-items-center gap-1 mb-2">
    <a href="/" class="flex flex-row align-items-center gap-0.5">
      {% icon 'home' %}
    </a>
    <div>/</div>
    <a href="/reviews">Reviews</a>
    <div>/</div>
    <div>{{title}}</div>
  </div>

  <div class="flex flex-col gap-0.5 mb-2">
    <h1>{{title}}</h1>
    <a href="/reviews/category/{{category.name}}" class="review-type category-link flex flex-row gap-0.5 align-items-center">
      {{category.icon}}
      {{category.name | capitalize}}
    </a>
  </div>

  <div class="review-card-container flex flex-row gap-1">
    <div class="review-image">
      {% image image,
      title %}
    </div>
    <div class="review-information flex flex-col flex-auto">
      {% if category.subtitle %}
        <div class="information-item">
          <div class="information-item-heading">{{category.subtitle | upper}}</div>
          {{subtitle}}
        </div>
      {% endif %}
      {% if series %}
        <div class="information-item">
          <div class="information-item-heading">SERIES</div>
          {{category.name | capitalize}} #{{seriesIndex}} &mdash; {{series}}
        </div>
      {% endif %}
      <div class="information-item">
        <div class="information-item-heading">RATING</div>
        {% rating rating %}
        <span class="mx-0.5">&mdash;</span>
        {{ rating }} / 10
      </div>
      {% set related = collections.reviews | pluck(series, 'series') | sortBy(true, 'seriesIndex') %}
      {% if related.length > 1 %}
        <div class="information-item">
          <div class="information-item-heading">RELATED</div>
          <ul class="related-items">
            {% for item in related %}
              {% if item.data.page.url !== page.url %}
                <li>
                  <a href="{{item.data.page.url}}">
                    {{category.name | capitalize}} #{{item.data.seriesIndex}} &mdash; {{item.data.title}}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if content.length > 0 %}
        <a href="#review" class="mt-1 ml-1 see-review flex flex-row align-items-center gap-0.5">
          See review below {% icon 'chevron-down' %}
        </a>
      {% else %}
        <p class="mt-1 ml-1 no-review flex flex-row align-items-center gap-0.5">
          No Review Yet {% icon 'frown' %}
        </p>
      {% endif %}
    </div>
  </div>

  {% if content.length > 0 %}
    <hr class="w-full my-2">
    <div id="review" class="review-content">
      {{ content | safe }}
    </div>
  {% endif %}
</div>
