---
layout: default
---

<div class="flex flex-col px-1 gap-2">
  <div class="breadcrumbs px-1 py-0.5 flex flex-row wrap align-items-center gap-1">
    <a href="/" class="flex flex-row align-items-center gap-0.5">
      {% icon 'home' %}
      Home
    </a>
    <div>/</div>
    <a href="/reviews">Reviews</a>
    <div>/</div>
    <div>{{title}}</div>
  </div>
  <div class="review-card flex flex-row gap-2">
    <img src="{{image}}" alt="">
    <div class="flex flex-col flex-auto gap-1">
      <div class="flex flex-col flex-auto gap-1">
        <h1>{{title}}</h1>
        {% if subtitle %}
          <p>{% reviewType type, 'subtitle' %}: {{subtitle}}</p>
        {% endif %}
        {% if series %}
          <p>Series: {{series}}</p>
        {% endif %}
      </div>
      <div class="flex flex-row wrap gap-1 align-items-center">
        <div class="review-type flex flex-row gap-0.5 align-items-center">
          {% reviewType type,
          'tag' %}
        </div>
      </div>
    </div>
  </div>

  <div class="rating-score flex flex-row align-items-center p-1 gap-1">
    <div class="rating-text flex-auto">
      {% rating rating %}
    </div>
    {% set rating_scaled = rating * 10 %}
    {% set rating_fraction = rating + ' / 10' %}
    {% circularChart rating_scaled, rating_fraction %}
  </div>

  {% if content.length > 0 %}
    <hr class="w-full">
    <div class="review-content">
      {{ content | safe }}
    </div>
  {% endif %}
</div>
