---
layout: listing
pagination:
  data: collections.photos
  size: 24
  alias: photos
permalink: '/photos/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}'
title: Photos
eleventyExcludeFromCollections: true
---

{% set allLink = {
  url: '/photos/',
  text: 'All Photos'
} %}
{% set items = categories.photos %}
{% include 'partials/category-list.html' %}

<section class="photos-grid gap-1 mt-2">
  {% asyncEach item in photos %}
  <div class="photo-item {{item.size}}">
    {% image item.photo,
    item.name, {metadata: item.metadata} %}
  </div>
  {% endeach %}
</section>

{% set paginator = pagination %}
{% include "partials/paginator.html" %}
{% include "partials/lightbox.html" %}
