@use '../mixins' as mixins;

.card {
  color: var(--color-text);
  padding: 2em;
  background-color: var(--color-card);
  border-radius: var(--border-radius);
  box-shadow: var(--default-shadow);
  @include mixins.default-transition(background-color, color);

  > h1:first-child {
    margin-top: 0;
  }

  @media screen and (max-width: 499px) {
    padding: 2em 1em;
  }
}
