/* Contact */

.contact-form {
  h1 {
    margin: 0;
  }

  label {
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-text-secondary);
    margin-left: 0.25em;
  }

  input,
  textarea {
    font-family: inherit;
    font-size: 1em;
    width: clamp(100%, 1200px, 100%);
    border: none;
    padding: 1em;
    background-color: rgba(var(--color-gray), 0.05);
    color: inherit;
    border-radius: var(--border-radius);
    border: 2px solid rgba(var(--color-gray), 0.5);
    transition: border-color var(--default-transition-timing) ease-in-out,
      background-color var(--default-transition-timing) ease-in-out;

    &:focus {
      outline: none;
      border: 2px solid var(--color-title);
    }
  }

  textarea {
    resize: none;
  }

  button {
    align-self: flex-start;
    font-family: inherit;
    cursor: pointer;
    margin-top: 2em;
    background-color: var(--color-accent-darker);
    color: rgb(var(--color-white));
    border: none;
    border-radius: var(--border-radius);
    padding: 0.5em 2em;
    font-size: 1.2em;
    text-transform: uppercase;
  }
}
