@use '../mixins' as mixins;

#site-header {
  position: relative;
  top: 0;
  z-index: 3;
  color: var(--color-text);
  background-color: var(--color-background);
  justify-content: space-between;
  border-bottom: 1px solid var(--color-highlight);
  @include mixins.default-transition(background-color, color);

  a {
    text-decoration: none;
  }

  .header-left {
    nav {
      visibility: visible;
      max-width: 1000px;
      margin-left: 2em;
      @include mixins.default-transition(margin, max-width, max-height);

      a {
        color: inherit;
        font-weight: bold;

        &[aria-current='page'] {
          text-decoration: underline;
          text-decoration-color: var(--color-link);
          text-decoration-thickness: 3px;
        }
      }
    }

    @media screen and (max-width: 799px) {
      flex-direction: column;
      align-items: flex-start;

      nav {
        margin-left: 0;
      }
    }
  }

  #title {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 48px;
    color: var(--color-title);
    white-space: nowrap;
  }

  .icon-buttons {
    position: absolute;
    top: 1em;
    right: 1em;

    button,
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: none;
      background-color: inherit;
      color: inherit;
      cursor: pointer;
      padding: 0.5em;
      border-radius: 50%;
      height: 48px;
      width: 48px;
      transition: background-color 250ms ease-in-out;

      svg {
        height: 24px;
        width: 24px;
      }

      &:hover,
      &:focus-within {
        background-color: var(--color-highlight);
      }
    }
  }

  #theme-btn {
    .lucide-sun {
      display: block;
    }
    .lucide-moon {
      display: none;
    }
  }

  #menu-btn {
    visibility: hidden;
    max-width: 0;
    padding: 0;

    @include mixins.default-transition(padding, max-width);
  }

  @media screen and (max-width: 999px) {
    position: sticky;
    z-index: 1000;
  }

  @media screen and (max-width: 499px) {
    .header-left {
      nav {
        visibility: hidden;
        margin: 0;
        max-height: 0;
        max-width: 0;
      }
    }

    #menu-btn {
      visibility: visible;
      padding: 0.5em;
      max-width: 100px;
    }
  }

  @media screen and (max-width: 399px) {
    #apps-link {
      display: none;
    }
  }
}

html.dark #site-header #theme-btn {
  .lucide-sun {
    display: none;
  }
  .lucide-moon {
    display: block;
  }
}
