@use "../mixins" as mixins;

#about-me-image {
  position: absolute;
  background-color: var(--color-primary-lighter);
  border-radius: 50%;
  padding: 0.5em;
  top: -2em;
  left: -2em;
  width: 75px;
  height: 75px;
  box-shadow: var(--default-shadow);
  @include mixins.default-transition(left);
}

#about-me-image img {
  display: block;
  height: auto;
  width: 100%;
}

#recent-reviews,
#recent-posts {
  position: relative;
  background-color: var(--color-background-secondary);
  padding-top: var(--wave-height);
  padding-bottom: var(--wave-height);
  @include mixins.default-transition(background-color);
}

/* Medium Screens */

@media screen and (max-width: 1100px) {
  #about-me h1 {
    margin-top: 1em;
  }

  #about-me-image {
    left: 50%;
    transform: translateX(-50%);
  }
}

.view-all-link {
  color: var(--color-text);
  text-decoration: none;
  border-bottom: 1px solid var(--color-text);
  @include mixins.default-transition(color, border-color);

  svg {
    color: var(--color-text);
    transform: translateX(-2px);
    @include mixins.default-transition(color, transform);
  }

  &:hover,
  &:focus-within {
    color: var(--color-link);
    border-color: var(--color-link);

    svg {
      color: var(--color-link);
      transform: translateX(2px);
    }
  }
}

@media screen and (hover: none) {
  .view-all-link {
    color: var(--color-link);
    border-color: var(--color-link);

    svg {
      color: var(--color-link);
      transform: translateX(0px);
    }
  }
}
