@use '../mixins' as mixins;

#about-me-card {
  #about-me-image {
    display: flex;
    justify-content: center;

    img {
      height: 100%;
      width: 250px;
      object-fit: cover;
      border-radius: var(--border-radius);
    }
  }

  #about-me-information {
    ul {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 1em;
    }
  }
}

#recent-reviews,
#recent-posts {
  position: relative;
  background-color: var(--color-background-secondary);
  padding-top: var(--wave-height);
  padding-bottom: var(--wave-height);
  @include mixins.default-transition(background-color);
}

/* Medium Screens */

@media screen and (max-width: 1100px) {
  #about-me-card {
    flex-direction: column;

    #about-me-image {
      padding: 1em;
      margin-top: -2em;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23673ab7' fill-opacity='0.8' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
      background-repeat: round;
    }
  }
}

.view-all-link {
  color: var(--color-text);
  text-decoration: none;
  border-bottom: 1px solid var(--color-text);
  @include mixins.default-transition(color, border-color);

  svg {
    color: var(--color-text);
    transform: translateX(-2px);
    @include mixins.default-transition(color, transform);
  }

  &:hover,
  &:focus-within {
    color: var(--color-link);
    border-color: var(--color-link);

    svg {
      color: var(--color-link);
      transform: translateX(2px);
    }
  }
}

@media screen and (hover: none) {
  .view-all-link {
    color: var(--color-link);
    border-color: var(--color-link);

    svg {
      color: var(--color-link);
      transform: translateX(0px);
    }
  }
}
