.resume {
  .pronouns {
    font-size: 0.5em;
  }

  .lead {
    font-size: 1.25em;
    font-weight: 300;
  }

  .contact-information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5em;
      text-decoration: none;
      border-bottom: 1px solid var(--color-link);
    }
  }

  .timeline {
    list-style: none;
    margin: 1em 0 0 1em;
    padding: 0;
    border-left: 1px solid var(--color-highlight);

    .timeline-item {
      position: relative;
      padding-left: 2em;

      &::before {
        position: absolute;
        content: '';
        display: block;
        height: 1em;
        width: 1em;
        background-color: var(--color-accent);
        top: 0;
        left: 0;
        border-radius: 50%;
        transform: translateX(-50%);
      }

      + .timeline-item {
        margin-top: 2em;
      }
    }
  }
}
