@use "../mixins" as mixins;

/* Resize Images to W: 350, H: 560 */

:root {
  --review-image-tile-height: 320px;
  --review-image-tile-width: 200px;
}

.reviews-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--review-image-tile-width), 1fr)
  );
  gap: 1em;
}

@media screen and (max-width: 599px) {
  .reviews-grid {
    display: flex;
    flex-direction: column;
  }
}

.review-item {
  height: var(--review-image-tile-height);
  border-radius: var(--border-radius);
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: var(--default-shadow);

  &:hover,
  &:focus-within {
    &::before {
      opacity: 1;
    }
    .info {
      opacity: 1;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    background: rgba(var(--color-black), 0.6);
    backdrop-filter: blur(4px);
    z-index: 2;
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--border-radius);
    background-color: var(--color-card);
    backdrop-filter: blur(8px);
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 1em;
    z-index: 3;
    color: rgba(var(--color-white, 1));
    opacity: 0;
    @include mixins.default-transition(opacity);

    .rating {
      padding: 0.25em 0.5em;
      color: rgba(var(--color-white, 1));
      background-color: var(--color-primary);
      backdrop-filter: blur(8px);
      border-radius: var(--border-radius);
      margin-top: 1em;
      @include mixins.default-transition(background-color, color);
    }

    .subtitle {
      font-size: 0.8em;
    }

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5em;
      text-decoration: none;
      margin-top: 1em;
      padding: 0.5em;
      border-radius: 4px;
      background-color: var(--color-accent);
      color: rgba(var(--color-white), 1);
      @include mixins.default-transition(background-color, color);
      &:hover,
      &:focus-within {
        background: var(--color-accent-darker);
        color: rgba(var(--color-white), 1);
      }
    }
  }

  .category {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    display: block;
    padding: 0.5em 1em;
    color: rgb(var(--color-white));
    background-color: var(--color-primary);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    box-shadow: var(--default-shadow);
    z-index: 3;
  }
}

@media screen and (max-width: 599px) {
  .reviews-grid {
    grid-template-columns: 1fr;

    .review-item {
      img {
        object-fit: cover;
      }
      &::before {
        opacity: 1;
      }
      .info {
        opacity: 1;
      }
    }
  }
}

@media screen and (hover: none) {
  .review-item {
    img {
      object-fit: cover;
    }
    &::before {
      opacity: 1;
    }
    .info {
      opacity: 1;
    }
  }
}

/* Review */

.review {
  .review-type {
    align-self: flex-start;
  }

  .review-card-container {
    @media screen and (max-width: 599px) {
      flex-direction: column;
      align-items: center;

      .review-image {
        max-width: 100% !important;
      }

      .see-review {
        display: none;
      }
    }

    .review-image {
      max-width: 33%;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: var(--border-radius);
      }
    }

    .review-information {
      align-self: stretch;
    }

    .no-review {
      align-self: flex-start;
      color: var(--color-text-secondary);
    }

    .see-review {
      align-self: flex-start;
      color: var(--color-text-secondary);
      text-decoration: none;
      border-bottom: 1px solid var(--color-text-secondary);
      @include mixins.default-transition(color, border-color);

      &:hover,
      &:focus-within {
        color: var(--color-link);
        border-bottom-color: var(--color-link);
      }
    }

    .related-items {
      margin: 0;
      padding: 0;
      padding-left: 1.5em;
    }

    .information-item {
      padding: 1em;
      border: 1px solid var(--color-card);
      background-color: var(--color-background-secondary);

      .information-item-heading {
        color: var(--color-text-secondary);
        margin-bottom: 0.5em;
      }

      + .information-item {
        margin-top: 0.5em;
      }

      &:first-of-type {
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
      }

      &:last-of-type {
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
      }
    }
  }
}
