@use '../mixins' as mixins;

:root {
  --review-image-tile-height: 319.2px;
  --review-image-tile-width: 216px;
}

.reviews-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--review-image-tile-width));
  gap: 1em;
}

.review-item {
  height: var(--review-image-tile-height);
  min-width: var(--review-image-tile-width);
  border-radius: var(--border-radius);
  padding: 1em;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: var(--default-shadow);

  &:hover {
    &::before {
      opacity: 1;
    }
    .info {
      opacity: 1;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    background: rgba(var(--color-black), 0.6);
    backdrop-filter: blur(4px);
    z-index: 2;
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
  }

  &[data-type="movie"] {
    --icon: "🎬 Movie";
  }

  &[data-type="book"] {
    --icon: "📚 Book";
  }

  &[data-type="tv"] {
    --icon: "📺 TV";
  }

  &[data-type="podcast"] {
    --icon: "🎙️ Podcast";
  }

  &[data-type="music"] {
    --icon: "🎵 Music";
  }

  &[data-type="game"] {
    --icon: "🕹️ Video Game";
  }

  &[data-type="restaurant"] {
    --icon: "🍴 Restaurant";
  }

  &::after {
    position: absolute;
    content: var(--icon);
    top: 0;
    right: 0;
    margin-right: 1em;
    display: block;
    padding: 0.5em 1em;
    color: rgb(var(--color-white));
    background-color: var(--color-primary);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    box-shadow: var(--default-shadow);
    z-index: 3;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--border-radius);
    background-color: var(--cover-color, rgba(var(--color-white), 0.25));
    backdrop-filter: blur(8px);
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 3;
    color: rgba(var(--color-white, 1));
    opacity: 0;
    @include mixins.default-transition(opacity);

    .rating {
      color: gold;
    }

    .subtitle {
      font-size: 0.8em;
    }

    a {
      margin-top: 1em;
      padding: 0.5em;
      border-radius: 4px;
      background: rgba(var(--color-white), 1);
      color: rgba(var(--color-black), 1);
      @include mixins.default-transition(background-color, color);
      &:hover {
        background: var(--color-accent-darker);
        color: rgba(var(--color-white), 1);
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .reviews-grid {
    grid-template-columns: 1fr;

    .review-item {
      img {
        object-fit: contain;
        // background-color: blue;
      }
    }
  }
}
