---
layout: default
title: Résumé
---

<div class="flex flex-col px-1">
  <div class="breadcrumbs px-1 py-0.5 flex flex-row wrap align-items-center gap-1 mb-2">
    <a href="/" class="flex flex-row align-items-center gap-0.5">
      {% icon 'home' %}
      Home
    </a>
    <div>/</div>
    <div>{{title}}</div>
  </div>

  <article class="resume card">
    <h1>
      Andy Bond <em class="pronouns">(he/him)</em>
    </h1>
    <p class="lead">Software Engineer • Lexington, KY</p>
    <p class="contact-information mt-0.5">
      <a href="mailto:contact@andy.bond">{% icon 'mail' %} contact@andy.bond</a>
      <span class="mx-0.5">•</span>
      <a href="https://andy.bond">{% icon 'link' %} https://andy.bond</a>
      <span class="mx-0.5">•</span>
      <a href="https://github.com/andy-bond">
        {% icon 'github' %}
        @andy-bond
      </a>
      <span class="mx-0.5">•</span>
      <a href="https://www.linkedin.com/in/andybond/">
        {% icon 'linkedin' %}
        @andybond
      </a>
    </p>
    <section class="mt-2">
      <h2>About Me</h2>
      <p class="mt-1">
        Experienced Software Engineer with a demonstrated history of working in a non-partisan government role. Skilled in Angular, JavaScript, HTML5, CSS3, .NET Core, ASP.NET MVC, C#, WPF, Windows Forms, and always ready to learn more. Strong engineering professional with a Bachelor of Science (B.S.) focused in Computer Science from the University of Kentucky.
      </p>
    </section>
    <section class="mt-2">
      <h2>Work Experience</h2>
      <ol class="timeline mt-1">
        <li class="timeline-item">
          <div>
            <small class="occurance">February 2016 - Present</small>
            <h3 class="heading">Legislative Research Commission</h3>
            <p class="subheading">Software Engineer • Frankfort, KY</p>
            <ul class="mt-1">
              <li>Created responsive web based applications with a strong focus on user experience using Angular to be used by LRC staff, legislators, and the general public</li>
              <li>Worked directly with clients to develop new project features and migrate out-of-date applications to modern standards</li>
              <li>Developed templates and libraries used in nearly every Angular application in the agency</li>
              <li>Developed APIs using ASP.NET Core MVC to provide data to various applications and other APIs/microservices</li>
              <li>Developed multiple Windows desktop applications to assist members of LRC staff in their various duties using both Windows Forms and WPF</li>
              <li>Managed SQL tables, stored procedures, functions, users, and roles for use in the applications that were developed</li>
            </ul>
          </div>
        </li>
      </ol>
    </section>
    <section class="mt-2">
      <h2>Education</h2>
      <ol class="timeline mt-1">
        <li class="timeline-item">
          <div>
            <small>2012 - 2015</small>
            <h3>University of Kentucky</h3>
            <p>Bachelor of Science (B.S.), Computer Science • Lexington, KY</p>
          </div>
        </li>
        <li class="timeline-item">
          <div>
            <small>2008 - 2012</small>
            <h3>Starkville High School</h3>
            <p>Starkville, MS</p>
          </div>
        </li>
      </ol>
    </section>
    <section class="mt-2">
      <h2>Skills</h2>
      <ul class="mt-1"></ul>
    </section>
  </article>

</div>
