@use './mixins' as mixins;

:root {
  /* Fonts */
  --font-sans-serif: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-weight-medium: 500;

  /* Generic Colors */
  --color-white: 255, 255, 255;
  --color-black: 0, 0, 0;

  --color-primary: rgb(103, 58, 183);
  --color-primary-darker: rgb(81, 45, 168);
  --color-primary-lighter: rgb(162, 128, 255);

  --color-accent: rgb(0, 150, 136);
  --color-accent-darker: #00796b;
  --color-accent-lighter: #01bcbc;

  /* Specific Element Colors */
  --color-text: rgba(var(--color-black), 0.87);
  --color-text-secondary: rgba(var(--color-black), 0.6);
  --color-background: #ecf2f9;
  --color-background-secondary: #d2e0f1;
  --color-title: var(--color-primary);
  --color-highlight: rgba(var(--color-black), 0.125);
  --color-card: rgb(var(--color-white));
  --color-link: var(--color-accent-darker);

  /* Transitions */
  --default-transition-timing: 250ms;
  --default-transition-curve: cubic-bezier(0.4, 0, 0.2, 1);

  /* Shadows */
  --default-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);

  /* Misc */
  --container-size: 999px;
  --border-radius: 10px;
  --wave-height: 4em;
}

.dark {
  --color-background-secondary: #0b1724;
  --color-background: #0d1c2b;
  --color-card: #15273d;
  --font-weight-medium: 400;
  --color-text: rgba(var(--color-white), 1);
  --color-text-secondary: rgba(var(--color-white), 0.6);
  --color-title: var(--color-primary-lighter);
  --color-highlight: rgba(var(--color-white), 0.125);
  --color-link: var(--color-accent-lighter);
}

/* Links */

a {
  color: var(--color-link);
}

/* Utilities */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-auto {
  flex: 1 1 auto;
}

.wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

.gap-0\.5 {
  gap: 0.5em;
}

.gap-1 {
  gap: 1em;
}

.gap-2 {
  gap: 2em;
}

/* Padding */

@include mixins.generate-sided("padding", "p", 0.5, 1, 2);

/* Margin */

@include mixins.generate-sided("margin", "m", 0.5, 1, 2);

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  border: none;
}

/* Wave Divider */

.wave-svg {
  position: absolute;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  left: 0;

  &.top {
    top: 0;
  }

  &.bottom {
    bottom: 0;
    transform: rotate(180deg);
  }

  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: var(--wave-height);
  }

  .shape-fill {
    fill: var(--color-background);
    @include mixins.default-transition(fill);
  }
}

/* Feather Icons */

.feather {
  width: 1em;
  height: 1em;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;

  &:not(.feather-override) {
    stroke: currentColor;
    fill: none;
  }
}

/* Circular Chart */

.circular-chart {
  --weird-offset: 11.2px;
  position: relative;
  margin-bottom: calc(0px - var(--weird-offset));

  svg {
    height: 100%;
    width: 100%;
    max-height: 100px;
    max-width: 100px;
    --start-color: hsl(0, 100%, 40%);
    --end-color: hsl(var(--value), 100%, 40%);

    .circle-bg {
      fill: none;
      stroke: var(--color-highlight);
      stroke-width: 3.8;
    }

    .circle {
      fill: none;
      stroke-width: 2.8;
      stroke-linecap: round;
      animation: progress 1s ease-in-out forwards;
    }

    @keyframes progress {
      0% {
        stroke-dasharray: 0 100;
        stroke: var(--start-color);
      }
      100% {
        stroke-dasharray: var(--value) 100;
        stroke: var(--end-color);
      }
    }
  }

  .percentage {
    position: absolute;
    top: 0;
    height: calc(100% - var(--weird-offset));
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
  }
}

/* Hidden */

.hidden {
  display: none !important;
}
