@use './mixins' as mixins;

html,
body {
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  font-family: var(--font-sans-serif);
  background-color: var(--color-background);
  color: var(--color-text);
  font-weight: var(--font-weight-medium);
  @include mixins.default-transition(background-color, color);
}

body {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Full Bleed Wrapper */

.full-bleed-wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(1200px, calc(100% - 2em))
    1fr;
  grid-column-gap: 1em;

  > * {
    grid-column: 2;
  }

  > .full-bleed {
    grid-column: 1 / -1;
  }
}
