@use './mixins' as mixins;

html,
body {
  margin: 0;
  font-family: var(--font-sans-serif);
  background-color: var(--color-background);
  color: var(--color-text);
  font-weight: var(--font-weight-medium);
  @include mixins.default-transition(background-color, color);
}

html {
  height: 100%;
  max-height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;

  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

/* Full Bleed Wrapper */

.full-bleed-wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(var(--container-size), 100%)
    1fr;

  > * {
    grid-column: 2;
  }

  > .full-bleed {
    grid-column: 1 / -1;
  }
}

/* Constrain Container */

.container {
  max-width: var(--container-size);
  margin: 0 auto;
}
