*,
::before,
::after {
  box-sizing: border-box;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(110, 110, 110, 0.65);
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgb(128, 128, 128);
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: transparent;
}

::selection {
  background-color: var(--color-title);
  color: white;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote {
  margin: 0;
}
