#opengraph-container {
  overflow: hidden;
  z-index: 0;
  background-color: #0d1c2b;
  color: white;
  font-weight: 500;

  .image-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .image-right {
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--default-shadow);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--border-radius);
    }
  }

  .z-1 {
    z-index: 1;
  }

  .bold {
    font-weight: 700;
  }

  .bg-text {
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    padding: 0 8px;
    box-shadow: var(--default-shadow);
  }

  .text-large {
    font-size: 4em;
  }

  .text-medium {
    font-size: 2em;
  }

  #opengraph-icon {
    height: 64px;
    width: 64px;
    box-shadow: var(--default-shadow);

    img {
      height: 100%;
      width: 100%;
    }
  }

  .bg-primary {
    background-color: var(--color-primary);
  }

  .bg-accent {
    background-color: var(--color-accent);
  }

  &.bg-dots {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23673ab7' fill-opacity='0.8' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: round;
  }
}
