---
layout: listing
pagination:
  data: collections.reviews
  size: 16
  alias: reviews
permalink: '/reviews/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}'
title: Reviews
eleventyExcludeFromCollections: true
---

{% set searchItems = collections.reviews | sort(false, false, 'data.title') %}
{% include 'partials/search.html' %}

{% set allLink = {
  url: '/reviews/',
  text: 'All Reviews'
} %}
{% set items = categories.reviews %}
{% include 'partials/category-list.html' %}

<section class="reviews-grid gap-1 mt-2">
  {% asyncEach item in reviews %}
    {% include "partials/review-card.html" %}
  {% endeach %}
</section>

{% set paginator = pagination %}
{% include "partials/paginator.html" %}
