---
layout: listing
pagination:
  data: reviewTypes
  size: 1
  alias: type
permalink: "/reviews/tags/{{ type }}/"
eleventyComputed:
  title: "{{type | capitalize}} Reviews"
parent:
  text: Reviews
  link: /reviews
eleventyExcludeFromCollections: true
---

{% include 'partials/review-tags.html' %}

{% set items = collections.review | pluck(type, 'type') | reverse %}
{% if items.length > 0 %}
  <section class="reviews-grid gap-1 mt-2">
    {% for item in items %}
      {% review item %}
    {% endfor %}
  </section>
{% else %}
  <h3 class="no-reviews mt-2">
    No Reviews tagged with {{type | capitalize}}
  </h3>
{% endif %}
