/* CSS Variables */

:root {
  /* Fonts */
  --font-sans-serif: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-weight-medium: 500;

  /* Generic Colors */
  --color-white: 255, 255, 255;
  --color-black: 0, 0, 0;

  --color-primary: rgb(103, 58, 183);
  --color-primary-darker: rgb(81, 45, 168);
  --color-primary-lighter: rgb(162, 128, 255);

  --color-accent: rgb(0, 150, 136);
  --color-accent-darker: rgb(0, 121, 107);
  --color-accent-lighter: rgb(1, 188, 188);

  /* Specific Element Colors */
  --color-text: rgba(var(--color-black), 0.87);
  --color-background: #ecf2f9;
  --color-title: var(--color-primary);
  --color-highlight: rgba(var(--color-black), 0.125);
  --color-card: rgb(var(--color-white));
  --color-link: var(--color-accent-darker);

  /* Transitions */
  --default-transition-timing: 250ms;
  --default-transition-curve: cubic-bezier(0.4, 0, 0.2, 1);
  --default-transition: background-color var(--default-transition-timing)
      var(--default-transition-curve),
    color var(--default-transition-timing) var(--default-transition-curve);

  /* Shadows */
  --default-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.dark {
  --font-weight-medium: 400;
  --color-text: rgba(var(--color-white), 1);
  --color-background: #0d1c2b;
  --color-title: var(--color-primary-lighter);
  --color-highlight: rgba(var(--color-white), 0.125);
  --color-card: rgb(21, 39, 61);
  --color-link: var(--color-accent-lighter);
}

/* Layout */

*,
::before,
::after {
  box-sizing: border-box;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(110, 110, 110, 0.65);
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgb(128, 128, 128);
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: transparent;
}

::selection {
  background-color: var(--color-title);
  color: white;
}

html,
body {
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  font-family: var(--font-sans-serif);
  background-color: var(--color-background);
  color: var(--color-text);
  font-weight: var(--font-weight-medium);
  transition: var(--default-transition);
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

/* Links */

a {
  color: var(--color-link);
}

/* Navbar */

#navbar {
  grid-area: header;
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 1em;
}

#navbar nav {
  margin-left: 2em;
}

@media screen and (max-width: 499px) {
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  #navbar nav {
    margin-left: 0;
    margin-top: 0.5em;
  }
}

#navbar a {
  color: inherit;
  text-decoration: none;
}

#navbar #title {
  font-weight: bold;
  font-size: 1.5em;
  color: var(--color-title);
}

#navbar #title span:first-of-type {
  margin-right: 0.25em;
}

#navbar #theme-btn {
  position: absolute;
  top: 1em;
  right: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border: none;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  transition: background-color 250ms ease-in-out;
}

#theme-btn svg {
  height: 24px;
  width: 24px;
}

#navbar #theme-btn:hover {
  background-color: var(--color-highlight);
}

#navbar nav a {
  text-decoration: none;
  font-weight: bold;
}

#navbar nav span {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* Main */

main {
  grid-area: main;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1em;
}

/* Footer */

#footer {
  grid-area: footer;
}

#footer a {
  color: inherit;
}

/* Utilities */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-auto {
  flex: 1 1 auto;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.overflow-auto {
  overflow: auto;
}

.relative {
  position: relative;
}

.gap-0\.5 {
  gap: 0.5em;
}

.gap-1 {
  gap: 1em;
}

.gap-2 {
  gap: 2em;
}

/* Padding */

.p-1 {
  padding: 1em;
}

.px-1 {
  padding-left: 1em;
  padding-right: 1em;
}

.py-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.pl-1 {
  padding-left: 1em;
}

.pr-1 {
  padding-right: 1em;
}

.pt-1 {
  padding-top: 1em;
}

.pb-1 {
  padding-bottom: 1em;
}

/* Margin */

.m-1 {
  margin: 1em;
}

.mx-1 {
  margin-left: 1em;
  margin-right: 1em;
}

.my-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.ml-1 {
  margin-left: 1em;
}

.mr-1 {
  margin-right: 1em;
}

.mt-1 {
  margin-top: 1em;
}

.mb-1 {
  margin-bottom: 1em;
}

/* Card */

.card {
  color: var(--color-text);
  padding: 2em;
  background-color: var(--color-card);
  border-radius: 10px;
  box-shadow: var(--default-shadow);
  transition: var(--default-transition);
}

.card > h1:first-child {
  margin-top: 0;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
}

/* About Me */

#about-me-image {
  position: absolute;
  background-color: var(--color-primary-lighter);
  border-radius: 50%;
  padding: 0.5em;
  top: -2em;
  left: -2em;
  width: 75px;
  box-shadow: var(--default-shadow);
  transition: left var(--default-transition-timing)
    var(--default-transition-curve);
}

#about-me-image img {
  width: 100%;
}

/* Blog (Post List) */

.postcard .byline {
  opacity: 0.8;
  font-size: 0.8em;
}

/* Contact */

.contact-form h1 {
  margin: 0;
}

.contact-form input,
textarea {
  font-family: inherit;
  font-size: 1em;
  width: clamp(100%, 1200px, 100%);
  border: none;
  padding: 1em;
  background-color: var(--color-highlight);
  color: inherit;
  border-radius: 4px;
  border: 2px solid rgba(128, 128, 128, 0.5);
  transition: border-color var(--default-transition-timing) ease-in-out,
    background-color var(--default-transition-timing) ease-in-out;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 2px solid var(--color-title);
}

.contact-form textarea {
  resize: none;
}

.contact-form button {
  align-self: flex-start;
  font-family: inherit;
  cursor: pointer;
  margin-top: 2em;
  background-color: var(--color-accent-darker);
  color: rgb(var(--color-white));
  border: none;
  border-radius: 4px;
  padding: 0.5em 2em;
  font-size: 1.2em;
  text-transform: uppercase;
}

/* Medium Screens */

@media screen and (max-width: 1200px) {
  #about-me-image {
    left: 50%;
    transform: translateX(-50%);
  }
}

/* Smaller Screens */

@media screen and (max-width: 499px) {
  .card {
    padding: 2em 1em;
  }
}
