---
layout: listing
pagination:
  data: collections.postsByCategory
  size: 1
  alias: category
permalink: "{{category.slug}}"
eleventyComputed:
  title: "{{category.name | capitalize}} Posts"
parent:
  text: Posts
  link: /posts
eleventyExcludeFromCollections: true
---

{% set searchItems = collections.posts | pluck(category.name, 'category')  | sort(false, false, 'data.title') %}
{% include 'partials/search.html' %}

{% set allLink = {
  url: '/posts/',
  text: 'All Posts'
} %}
{% set items = categories.posts %}
{% include 'partials/category-list.html' %}

{% set items = category.items %}
{% if items.length > 0 %}
  <section class="posts-list mt-2">
    {% for item in category.items %}
      {% include 'partials/post-card.html' %}
    {% endfor %}
  </section>
{% else %}
  <h3 class="no-reviews mt-2">
    No Posts tagged with {{category.name | capitalize}}
  </h3>
{% endif %}

{% set paginator = category %}
{% include "partials/paginator.html" %}
