---
layout: default
title: Home
description: "Andy Bond's personal website. Blog posts, photos, and more!"
path: home
---

<section id="about-me" class="full-bleed my-2">
  <div class="container">
    <div id="about-me-card" class="flex flex-row mx-1 gap-2">
      <div id="about-me-image">
        {% image "src/static/img/andy-kayla.jpg", "Selfie of Andy & Kayla", { preload: true, widths: [300] } %}
      </div>
      <div id="about-me-information" class="flex flex-col gap-1 px-1">
        <h1>👋 Hi, I'm Andy Bond</h1>
        <ul>
          <li>I'm a Software Engineer at Cisco&nbsp;🤓</li>
          <li>I love to travel with my fiance,&nbsp;Kayla&nbsp;😍</li>
          <li>
            I enjoy reading&nbsp;📚, playing video games&nbsp;🎮, and watching
            movies&nbsp;🍿
          </li>
        </ul>
        <p>
          If you want to leave me a comment or just want to reach out, please do
          so using the form on the <a href="/contact">contact page</a>.
        </p>
        <p>Thanks for stopping by!</p>
      </div>
    </div>
  </div>
</section>
<section id="recent-posts" class="full-bleed my-2">
  <div class="container flex flex-col gap-1">
    <div class="flex flex-row align-items-center px-1 gap-1">
      <h1>Posts</h1>
      <a href="/posts" class="view-all-link flex flex-row align-items-center gap-0.5">
        View All {% icon 'arrow-right' %}
      </a>
    </div>
    <div class="posts-list px-1">
      {% asyncEach item in collections.posts | limit(6) %}
      {% include "partials/post-card.html" %}
      {% endeach %}
    </div>
  </div>
  {% waves 'top' %}
  {% waves 'bottom' %}
</section>
<section id="recent-photos" class="full-bleed my-2">
  <div class="container flex flex-col gap-1">
    <div class="flex flex-row align-items-center px-1 gap-1">
      <h1>Photos</h1>
      <a href="/photos" class="view-all-link flex flex-row align-items-center gap-0.5">
        View All {% icon 'arrow-right' %}
      </a>
    </div>
    <div class="photos-grid px-1 gap-1">
      {% asyncEach item in collections.photos | limit(9) %}
      <div class="photo-item auto">
        {% image item.photo,
        item.name, {metadata: item.metadata} %}
      </div>
      {% endeach %}
    </div>
  </div>
</section>
<section id="recent-reviews" class="full-bleed my-2">
  <div class="container flex flex-col gap-1">
    <div class="flex flex-row align-items-center px-1 gap-1">
      <h1>Reviews</h1>
      <a href="/reviews" class="view-all-link flex flex-row align-items-center gap-0.5">
        View All {% icon 'arrow-right' %}
      </a>
    </div>
    <div class="reviews-grid px-1 gap-1">
      {% asyncEach item in collections.reviews | limit(12) %}
      {% include "partials/review-card.html" %}
      {% endeach %}
    </div>
  </div>
  {% waves 'top' %}
  {% waves 'bottom' %}
</section>

{% include "partials/lightbox.html" %}
