---
layout: default
title: Home
path: home
---

<section id="about-me" class="full-bleed my-2">
  <div class="container">
    <div class="card relative flex flex-col mx-1 gap-2">
      <h1>👋 Hi, I'm Andy Bond - Welcome to my blog!</h1>
      <p>
        On this blog, I hope to write about my life, my
        travels, and some of my work - as well as have a place to put some of the
        photos I've taken over the years.
      </p>
      <p>
        If you want to leave me a comment or just want to reach out, please do so using the form on the <a href="contact">contact page</a>.
      </p>
      <p>Thanks for stopping by!</p>
      <div id="about-me-image" class="flex flex-col align-items-center justify-content-center">
        {% image "./src/static/img/andy-memoji.png", "Cartoonized Apple Memoji of Andy" %}
      </div>
    </div>
  </div>
</section>
<section id="recent-posts" class="full-bleed my-2">
  <div class="container flex flex-col gap-1">
    <div class="flex flex-row align-items-center px-1 gap-1">
      <h1>Posts</h1>
      <a href="/posts" class="view-all-link flex flex-row align-items-center gap-0.5">
        <div>View All</div>
        {% icon 'arrow-right' %}
      </a>
    </div>
    <div class="flex flex-row align-items-center wrap px-1 gap-1">
      {% set postslist = collections.post %}
      {% for post in postslist | reverse %}
        {% if loop.index <= 4 %}
          <article class="postcard card flex flex-col gap-0.5">
            <div class="flex flex-col">
              <h2>
                <a href="{{ post.url | url }}">
                  {% if post.data.title %}
                    {{ post.data.title }}
                  {% else %}
                    Untitled
                  {% endif %}
                </a>
              </h2>
              <p class="byline">
                {{ post.date | date }}
              </p>
            </div>
            {% if post.data.description %}
              <p>{{ post.data.description }}</p>
            {% endif %}
            <p>
              <a href="{{ post.url | url }}"> Read more →</a>
            </p>
          </article>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% waves 'top' %}
  {% waves 'bottom' %}
</section>
<section id="recent-photos" class="full-bleed my-2">
  <div class="container flex flex-col gap-1">
    <div class="flex flex-row align-items-center px-1 gap-1">
      <h1>Photos</h1>
      <a href="/photos" class="view-all-link flex flex-row align-items-center gap-0.5">
        <div>View All</div>
        {% icon 'arrow-right' %}
      </a>
    </div>
    <div class="photos-grid px-1 gap-1">
      {% for item in gallery.photos | reverse | limit(5) %}
        <div class="photo-item {{item.size}}">
          {% image item.photo, item.name %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section id="recent-reviews" class="full-bleed my-2">
  <div class="container flex flex-col gap-1">
    <div class="flex flex-row align-items-center px-1 gap-1">
      <h1>Reviews</h1>
      <a href="/reviews" class="view-all-link flex flex-row align-items-center gap-0.5">
        <div>View All</div>
        {% icon 'arrow-right' %}
      </a>
    </div>
    <div class="reviews-grid px-1 gap-1">
      {% for item in collections.review | reverse | limit(4) %}
        {% include "partials/review-card.html" %}
      {% endfor %}
    </div>
  </div>
  {% waves 'top' %}
  {% waves 'bottom' %}
</section>

{% include "partials/lightbox.html" %}
