{# Expects `categoryItem` = { name: string, emoji?: string, svg?: string, link?:
string, current?: boolean } #}
{% set categoryItemContent %}
{% if categoryItem.svg %}
{% svgIcon categoryItem.svg %}
{% elif categoryItem.emoji %}
<span>{{ categoryItem.emoji }}</span>
{% endif %}
<span>{{ categoryItem.name | title }}</span>
{% endset %}
{% set categoryItemClass = 'category-chip flex flex-row align-items-center gap-0.5' %}
{% if categoryItem.link %}
<a class="{{categoryItemClass}}" href="{{categoryItem.link}}" {% if categoryItem.current %} aria-current="page" {% endif
  %}>
  {{ categoryItemContent | safe }}
</a>
{% else %}
<div class="{{categoryItemClass}}">{{ categoryItemContent | safe }}</div>
{% endif %}
