<header id="site-header" class="container relative flex flex-row align-items-center w-full p-1 overflow-hidden">
  <div class="flex flex-row align-items-center overflow-hidden">
    <a id="title" href="/">Andy Bond</a>
    <nav class="flex flex-row align-items-center gap-0.5">
      {% if navigation.items %}
        {% for item in navigation.items %}
          <a {% if item.url in page.url %} aria-current="page" {% endif %} href="{{ item.url }}">
            {{ item.text }}
          </a>
          {% if not loop.last %}
            <span>•</span>
          {% endif %}
        {% endfor %}
      {% endif %}
    </nav>
  </div>
  <div class="flex flex-row align-items-center">
    <button id="theme-btn" onclick="toggleTheme()" title="Toggle Theme">
      {% icon 'sun' %}
      {% icon 'moon' %}
    </button>
    <button id="menu-btn" onclick="toggleMenu()" title="Toggle Navigation">
      {% icon 'menu' %}
    </button>
  </div>
</header>
