<header
  id="site-header"
  class="container relative flex flex-row w-full p-1 overflow-hidden"
>
  <div class="header-left flex flex-row align-items-center overflow-hidden">
    <a id="title" href="/">
      {{ metadata.author }}
    </a>
    <nav class="flex flex-row align-items-center gap-1">
      {% if navigation.items %}
        {% for item in navigation.items %}
          <a
          {% if item.url in page.url %}
            aria-current="page"
          {% endif %}
            href="{{ item.url }}"
          >
            {{ item.text }}
          </a>
        {% endfor %}
      {% endif %}
    </nav>
  </div>
  <div class="icon-buttons flex flex-row gap-0.5 align-items-center">
    <a id="apps-link" href="/apps" title="Applications">
      {% icon 'flask-conical' %}
    </a>
    <button id="theme-btn" title="Toggle Theme">
      {% icon 'sun' %}
      {% icon 'moon' %}
    </button>
    <button id="menu-btn" title="Toggle Navigation">
      {% icon 'menu' %}
    </button>
  </div>
</header>

<script>
  const themeButton = document.getElementById('theme-btn');
  themeButton.addEventListener('click', toggleTheme, false);
</script>
