<div id="lightbox" class="lightbox">
  <button id="lightbox-close">{% icon 'x' %}</button>
  <div id="lightbox-content">
    <div id="lightbox-image-area"></div>
    <div id="lightbox-caption"></div>
    <div id="lightbox-metadata">
      <div
        id="metadata-camera"
        class="metadata-item flex flex-row align-items-center gap-0.5 hidden"
      >
        {% icon 'camera' %}
        <div id="metadata-camera-text"></div>
      </div>
      <div
        id="metadata-fstop"
        class="metadata-item flex flex-row align-items-center gap-0.5 hidden"
      >
        {% icon 'aperture' %}
        <div id="metadata-fstop-text"></div>
      </div>
      <div
        id="metadata-exposure"
        class="metadata-item flex flex-row align-items-center gap-0.5 hidden"
      >
        {% icon 'timer' %}
        <div id="metadata-exposure-text"></div>
      </div>
      <div
        id="metadata-focalLength"
        class="metadata-item flex flex-row align-items-center gap-0.5 hidden"
      >
        {% icon 'ruler' %}
        <div id="metadata-focalLength-text"></div>
      </div>
      <div
        id="metadata-iso"
        class="metadata-item flex flex-row align-items-center gap-0.5 hidden"
      >
        {% icon 'lightbulb' %}
        <div id="metadata-iso-text"></div>
      </div>
      <div
        id="metadata-location"
        class="metadata-item flex flex-row align-items-center gap-0.5 hidden"
      >
        {% icon 'map-pin' %}
        <div id="metadata-location-text"></div>
      </div>
    </div>
  </div>
</div>

<script type="module" src="/static/js/lightbox.mjs"></script>
