<div class="review-item">
  {% image item.data.image, item.data.title, { widths: [300] } %}
  <div class="info">
    <div class="review-title">{{item.data.title}}</div>
    {% if item.data.subtitle %}
      <p class="subtitle">{{item.data.subtitle}}</p>
    {% endif %}
    <p class="rating">{{item.data.rating}} / 10</p>
    <a href="{{item.url}}">Read Review {% icon 'arrow-right' %}</a>
  </div>
  <div class="category">
    {% set category = categories.reviews | pick(item.data.category) %}
    {{category.emoji}}
    {{category.name | capitalize}}
  </div>
</div>
